<div class="animated fadeIn">
    <div class="row">
  
      <div class="col-md-12">
        <div class="card ">
  
          <div class="card-block">
              
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-outline-primary">
                    <div class="card-header">
                      <strong>Reports</strong>
                    </div>
                    <br/>
                    <form #f="ngForm">
                    <div class="card-block">   
                      
                        <div class="row" *ngIf="children.length > 0">
                                <label class="col-md-2 form-control-label" for="cmbchildren">Select Child:<i class="fa fa-asterisk red" aria-hidden="true"></i></label>
                                <div class="col-md-2">
                                  <select class="form-control" id="cmbchildren" name="cmbchildren" [(ngModel)]="selectedUser" (change) = "OnSelectUser($event)">    
                                    <option *ngFor="let user of children" [ngValue]="user">({{user.firstName}} {{user.lastName}})</option>
                                  </select>
                                </div>
                        </div>
                    </div>
                </form>
                <br/>
                <table class="table table-bordered table-striped table-condensed">
                        <thead>
                          <tr>
                            <th>Teacher <i *ngIf="sortedAsc; else sortedDescElseBlock" class="fa fa-sort-alpha-asc cursorLogout" aria-hidden="true" (click)="Sort()"></i>
                              <ng-template #sortedDescElseBlock>
                                <i class="fa fa-sort-alpha-desc cursorLogout" aria-hidden="true" (click)="Sort()"></i>
                              </ng-template>
                            </th>
                            <th>Student</th>
                            <th>Class</th>
                            <th class="text-center">Grade</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Percentage</th>
                            <th class="text-center">Comments</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="selectedUser; else studentElseBlock">
              
                                <tr *ngFor="let studentMark of studentMarks">
                                  <td>{{studentMark.subjectTeacherId.fullname}}</td>
                                  <td>{{studentMark.student.fullname}}</td>
                                  <td>{{studentMark.sClass.Name}}</td>
                                  <td>{{getGrade(studentMark.grade)}}</td>
                                  <td class="text-center">{{getSubject(studentMark.subject)}}</td>
                                  <td class="text-center">{{studentMark.percentage}}</td>  
                                  <td class="text-center">{{studentMark.comments}}</td>                              
                                </tr>                            
                              
                        </tbody>
                              <ng-template #studentElseBlock>
                                    <tbody>                                      
                                        <tr>
                                                <td>No Marks available for Student</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td class="text-center">NA</td>
                                                <td class="text-center">NA</td>  
                                                <td class="text-center">NA</td>  
                                        </tr>                                    
                                      
                                    </tbody>
                            </ng-template>
                      </table>
                
                  </div>

                  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
     
      </div>
  
  
    </div>